*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

.settings
.project
target
out
**/.settings
**/.classpath
**/.eclipse
**/.project
**/target
**/**/target
**/bin
**/**/target/
**/**/.classpath
.idea
*.iws
*.ipr
*.iml
**/.ipr
**/.iml
**/.iws
**/.idea
*.versionsBackup

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
